# maven ignore
target/
*.jar
*.war
*.zip
*.tar
*.tar.gz
*.class
*.swp
*/buildNumber.properties
buildNumber.properties

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws
.metadata/

# temp ignore
logs/
*.doc
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db

